# .env.example
# Reemplaza los valores con tus propias credenciales en el panel de Configuración -> Secretos.
VITE_SUPABASE_URL=https://klkkxwmtkfkwxevkzjeh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtsa2t4d210a2Zrd3hldmt6amVoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5MzkzNzMsImV4cCI6MjA5MzUxNTM3M30.vLr2hL3B3KGtNo6c60k267FVCLlIQQ_5XhPAUSN8zvQ
VITE_API_URL=https://supreme-space-engine-7vrxw9rx66px2r647-5080.app.github.dev
